SONAR_GOOGLE_CLIENT_ID=${google_client_id}
SONAR_GOOGLE_CLIENT_SECRET=${google_client_secret}
SONAR_SESSION_SECRET=${session_secret}
SONAR_BASE_URL=${base_url}
SONAR_API_TOKEN=${api_token}
SONAR_DB_PATH=/var/lib/sonar/sonar.db
SONAR_PORT=8000
